    @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

    :root{
        --color-yellow: #fff92e;   
        --color-orange: #ffc000;
        --shadow-color: #00000066;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'MedievalSharp', cursive;
    }


    /* ------------------------------------------- */
    /* Header Section */

    header{
        width: 100%;
        height: 100vh;
        background-image: radial-gradient(var(--color-yellow), var(--color-orange));
        box-shadow: 0px 5px 10px 5px var(--shadow-color);
        z-index: 1;
        position: relative;
    }

    .banner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 30%;
        min-width: 300px;
    }

    .scroll-icon-container{
        display: flex;
        justify-content: space-between;
        margin-inline: 3%;
        position: relative;
        top: calc(100vh - 30vh);
    }

    .scroll-icon{
        width: 7%;
        min-width: 100px;
    }

    /* ------------------------------------------- */
    /* Portfolio Section */

    main{
        background-color: var(--color-orange);
        z-index: -1;
        padding-top: 100px;
    }

    h1{
        text-align: center;
        font-size: 5rem;
    }
    h2{
        font-size: 3rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .portfolio-container{
        height: fit-content;
        
        padding-inline: 50px ;
        padding-block: 80px;
        
        
    }


    .portfoilio-flex-container{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .portfolio-item{
        width: 30%;
    }

    /* ------------------------------------------- */
    /* About Section */

    .about{
        z-index: 1;
        height: fit-content;
        padding-block: 100px;
        padding-inline: 50px;   
        position: relative;
        isolation: isolate;
    }

    .about::before{
        background-color: var(--color-yellow);
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: 0px -5px 10px 5px var(--shadow-color);
        z-index: -1;
        transform: skewY(-3deg);
    }

    div.about-flex-container{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .about-left{
        flex: 2 2 60%;
    }

    .photo{
        width: 100%;
        border-radius: 10%;
        box-shadow: 0 0 10px 5px var(--shadow-color);
    }

    .about-right{
        /* background-image: url(../Images/General/Photo_Wide_CleanedUp.png); */
        /* background-size: cover; */
        height: fit-content;
        flex: 1 1 30%;
        min-width: 300px;
    }

    .about-text{
        font-size: 1.5rem;
    }



    .skills{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .skills>*{
        flex-grow: 1;
        min-width: 200px;
    }

    h3{
        font-size: 2rem;
        text-align: center;
    }

    .about li{
        font-size: 1.5rem;
        list-style: none;
        margin-bottom: 10px;
    }


    /* ------------------------------------------- */
    /* Footer Section */

    footer{
        position: relative;   
        z-index: 2;
        background-color: black;  
        color: white;
        height: fit-content;
        isolation: isolate;
        padding: 30px;
        position: relative;
        top: -50px;

        display: grid;
    }


    footer h4{
        font-size: 1.5rem;
    }

    footer::before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        transform: translateY(50px);
        background-color: black;
    }